body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

/* HeaderStart*/

header{
    width: 100%;
    height: 50px;
    padding-bottom: 30px;
    display: flex;
    position: fixed;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

header .logo{
    margin-left: 250px;
    padding: 30px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-left: 350px;
}

.nav ul{
    list-style: none;
}


.nav ul li{
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
}

.nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.5s;
}

.nav li a:hover{
    color:#8490FF
}

.nav ul li ul{
    display: none;
}

.nav ul li:hover > ul{
    display: block;
    
}

.nav ul ul li:first-child{
    padding-top: 20px;
}





.checkbtn{
    display: none;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.9);
    float: right;
    line-height: 180px;
    margin-right: -170px;
}

#check{
    display: none;
}

/* Header End*/


/* Section Ome Start*/

section{
    background-color: rgb(249, 249, 255);
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: space-between;
}

.section1{
    background-color: rgb(249, 249, 255);
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.text1, .image1{
    width: 50%;
}

.text1{
    margin-left: 250px;
    margin-bottom: 150px;
}

.image1{
    padding-right: 180px;
    margin-top: 50px;
}

.image1 img{
    max-width: 100%;
    height: auto;
}

.text1 h3{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.text1 h1{
    font-size: 60px;
    text-align: left;
    margin-top: 20px;
}

.text1 p{
    color: rgb(78, 78, 78, 0.7);
    font-size: 20px;
    width: 80%;
    text-align: left;
}

.text1 input{
    padding: 10px 30px;
    color: white;
    background-image: linear-gradient( to right, #8393ff, rgb(102, 183, 252));
    outline: none;
    border: 1px solid #8393ff;
    font-size: 15px;
}

.text1 input:hover{
  box-shadow: 5px 10px 30px black;
  transition: all 0.5s;
}

/* Section Ome end*/

/* Section two Start*/

.section2{
    background-color: white;
    width: 100%;
    height: 500px;
    box-shadow: 5px 10px 15px black;
    padding-top: 100px;
}

.text2, .image2{
    width: 50%;
}

.image2 {
    margin-left: 20%;
     text-align: left;
}

.text2 h3{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
}
.text2 h1{
    font-size: 40px;
    text-align: left;
}

.text2 p{
    color: rgb(78, 78, 78, 0.7);
    font-size: 20px;
    width: 80%;
    text-align: left;
}

.text2 input{
    padding: 10px 30px;
    color: white;
    background-image: linear-gradient( to right, #8393ff, rgb(102, 183, 252));
    outline: none;
    border: 1px solid #8393ff ;
    font-size: 15px ;
}

.text2 input:hover{
    box-shadow: 5px 10px 30px black;
    transition: all 0.5s;

}


/* Section two End*/


/* Section Three Start*/

.section3{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    justify-content: center;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

.div1{
    width: 100%;
    height: 30%;
    justify-content: center;
}

.div1 h1{
    font-size: 40px;
    margin: 0px 0px 10px;
}

.div1 p{
    width: 650px;
    color: #777777;
    margin: 0 auto;
}

.no1{
    width: 70%;
    height: 25%;
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

.skill{
    float: left;
    padding: 20px 20px;
}

.no2{
    width: 70%;
    height: 25%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-left: 15%;

}

.skill2{
    float: left;
    padding: 20px 20px;
}

.skill p{
    width: 325px;
    color: rgba(0, 0, 0, 0.6);
}

.skill2 p{
    width: 325px;
    color: rgba(0, 0, 0, 0.6);
}

.skill h2{
    color: rgba(0, 0, 0, 0.7);
}

.skill2 h2{
    color: rgba(0, 0, 0, 0.7);
}

.skill2 i{
    font-size: 35px;
    opacity: 70%;
    color: transparent;
    background: linear-gradient( to right, #8393ff, rgb(102, 183, 252));
    -webkit-background-clip: text;
}

.skill i{
    font-size: 35px;
    opacity: 70%;
    color: transparent;
    background: linear-gradient( to right, #8393ff, rgb(102, 183, 252));
    -webkit-background-clip: text;
}


/* Section Three End*/

/* Section Four Start*/

.section4{
    width: 100%;
    height: 250px;
    background: linear-gradient( to right, #8393ff, rgb(102, 183, 252));
    color: white;
    display: grid;
    grid-template-columns: 10% 10% 15% 15% 15% 15% 10% 10%;
    grid-auto-rows: 100%;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.sect4div1{
grid-column: 3/4;
text-align: center;
}

.sect4div2{
    grid-column: 4/5;
    text-align: center;
}

.sect4div3{
    grid-column: 5/6;
    text-align: center;
}

.sect4div4{
    text-align: center;
    grid-column: 6/7;
}


.sect4div1 h2{
    font-size: 3rem;
    margin-bottom: 0;
}

.sect4div1 p{
    margin: 0;
}

.sect4div2 h2{
    font-size: 3rem;
    margin-bottom: 0;
}

.sect4div2 p{
    margin: 0;
}

.sect4div3 h2{
    font-size: 3rem;
    margin-bottom: 0;
}

.sect4div3 p{
    margin: 0;
}

.sect4div4 h2{
    font-size: 3rem;
    margin-bottom: 0;
}

.sect4div4 p{
    margin: 0;
}

/* Section Four End*/

/* Section five Start*/


.section5{
    width: 100%;
    height: 1200px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 40px 30px 282px 285px 21px;
    background-color: #fff;
}

.section5 p{
    color:rgba(0, 0, 0, 0.6);
}

.sect5text1{
    grid-column: 2/5;
    grid-row: 1/2;
    text-align: center;
}

.sect5text1 h1{
    font-size: 2.5rem;
    margin-bottom: 0;
}

.sect5text1 p{
    color:rgba(0, 0, 0, 0.6);
}

.sect5text2{
    grid-column: 2/5;
    grid-row: 2/3;
    text-align: center;
}

.sect5text2 a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding-right: 35px;
}

.sect5text2 a:hover{
    color: #8490FF;
    transition-duration: 0.5s;
}

.sect5div1{
    grid-column: 2/3;
    grid-row: 3/4;
}

.sect5div2{
    grid-column: 3/4;
    grid-row: 3/4;
}

.sect5div3{
    grid-column: 4/5;
    grid-row: 3/4;
}

.sect5div4{
    grid-column: 2/3;
    grid-row: 4/6;
    padding-top: 150px;
}

.sect5div5{
    grid-column: 3/4;
    grid-row: 4/6;
    padding-top: 150px;
}

.sect5div6{
    grid-column: 4/5;
    grid-row: 4/6;
    padding-top: 150px;
}

.sect5div1 p,h3{
    text-align: center;
    margin-right: 40px;
}

.sect5div2 p,h3{
    text-align: center;
    margin-right: 40px;
}

.sect5div3 p,h3{
    text-align: center;
    margin-right: 40px;
}

.sect5div4 p, h3{
    text-align: center;
    margin-right: 40px;
}

.sect5div5 p, h3{
    text-align: center;
    margin-right: 40px;
}

.sect5div6 p, h3{
    text-align: center;
    margin-right: 40px;
}

.sect5div1 p{
    margin-top: 3px;
}

.sect5div2 p{
    margin-top: 3px;
}

.sect5div3 p{
    margin-top: 3px;
}

.sect5div4 p{
    margin-top: 3px;
}

.sect5div5 p{
    margin-top: 3px;
}

.sect5div6 p{
    margin-top: 3px;
}

.sect5div1{
    background-image: url(portover1.jpg);
    width: 340px;
    height: 339px;
    border-radius: 5%;
    padding: 0;
  }

  .sect5div1:hover .portfolio{
    transition: 0.5s;
    opacity: 0;
  }
  
  
  .sect5div2{
   background-image: url(portover2.jpg);
    width: 340px;
    height: 339px;
    border-radius: 5%;
    padding: 0;
  }
  
  .sect5div2:hover .portfolio{
    transition: 0.5s;
    opacity: 0;
  }
  
  .sect5div3 {
   background-image: url(portover3.jpg);
    width: 340px;
    height: 339px;
    border-radius: 5%;
    padding: 0;
  }

  .sect5div3:hover .portfolio{
    transition: 0.5s;
    opacity: 0;
  }
  
  
  .sect5div4 {
    background-image: url(portover4.jpg);
    width: 340px;
    height: 339px;
    border-radius: 5%;
    padding: 0;
  }
  
  .sect5div4:hover .portfolio{
    transition: 0.5s;
    opacity: 0;
  }
 
  
  .sect5div5 {
    background-image: url(portover5.jpg);
    width: 340px;
    height: 339px;
    border-radius: 5%;
    padding: 0;
  }

  .sect5div5:hover .portfolio{
    transition: 0.5s;
    opacity: 0;
  }
  
  
  .sect5div6 {
    background-image: url(portover6.jpg);
    width: 340px;
    height: 339px;
    border-radius: 5%;
    padding: 0;
    
  }

  .sect5div6:hover .portfolio{
    transition: 0.5s;
    opacity: 0;
  }

  

  /* Section five End*/

  /* Section Six Start*/

.section6{
    width: 100%;
    height:800px ;
    background-color: #fff;
}

.sect6header{
    width: 100%;
    height: 150px;
    padding-top: 100px;
  }
  
  .sect6header p{
      color: rgba(0, 0, 0, 0.5);
  }

.sect6header h1, p{
  text-align: center;
}


.section6 .allcard{
    background-color: #F9F9FF;
    width: 60%;
    height: 650px;
    display: flex;
    margin: auto;
    margin-bottom: 100px;
}

.section6 .card{
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F9F9FF;
    width: 60%;
    height: 650px;
}

.section6 .card p, h2, h1, h3{
    text-align: center;
}



.section6 .card p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    margin-top: 20px;

}

.section6 .card .margin{
    padding-bottom: 20px;
}

.section6 .card h1{
    margin: auto;
    font-weight: normal;
    font-size: 3rem;
    padding-top: 25px;
}

.section6 .card h2{
    margin-bottom: -10px;
}

.section6 .card h3{
    font-size: 2rem;
    font-weight: normal;
    margin-left: 25px;
    margin-top: 20px;
}

.section6 .card:hover{
    background: linear-gradient(to right, #8393ff 3%, rgb(102, 183, 252));;
    transition: all 0.2s ease-in;
    transform: scale(1.05);
    border-radius: 10px;
    color: white;
}

.section6 .card:hover p{
    background: linear-gradient(to right, #8393ff 3%, rgb(102, 183, 252));;
    transform: scale(1.05);
    border-radius: 10px;
    color: white;
}

.section6 .card:hover h1, h2{
    
    color: white;
}

.section6 .card .circle2{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
    margin-top: 16px;
}

.section6 .card .circle1{
    height: 170px;
    width: 170px;
    background-color: #E2E5FF;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;  
}

.section6 .card:hover .circle2{
    background: #84ABFE;
}

.section6 .card:hover .circle1{
    background: #b3c9f8;
}



.section6 .card input{
  background: white;
  outline: none;
  border: #F9F9FF;
  height: 50px;
  width: 90%;
  margin: auto;
  display: none;
  font-size: 20px;
}


.section6 .card:hover h3{
  display: none;
}

.section6 .card:hover input{
  display: block;
  margin: auto;
  margin-top: 50px;
}

.section6 .card a{
    text-decoration: none;
}


  /* Section Six End*/

  /* Section Seven Start*/


.sect7about{
    width: 100%;
    height: 10px;
    background-color: #F9F9FF;
    padding-top: 100px;
    margin-bottom: 1;
}

.sect7about h1{
    font-size: 2.5rem;
    margin-bottom: 0;
}

.sect7about p{
    margin-top:10px ;
    color: #777777;
}

.section7{
    width: 100%;
    height: 550px;
}

.section7 .sect7all{
    width: 1400px;
    margin: auto;
    display: flex;
    overflow: hidden;
}


.section7 .sect7div{
    width: 700px;
    background-color: white;
    margin-left: 50px;
    position: relative;
    animation: slid 5s infinite;
}

.section7 .sect7div .text{
    width: 700px;
    margin-top: -60px;
    margin-left: -45px;
}

.section7 .sect7div .text p{
    color: #777777;
    text-align: left;
    margin-left: 25%;
    width: 63%;
    line-height: 25px;
}

.section7 .sect7div .text p:nth-child(3){
    margin-top: 1px;
    font-size: 15px;
}

.section7 .sect7div .text h3{
    text-align: left;
    margin-left: 25%;
    width: 70%;
    margin-bottom: 0;
}

.section7 .sect7div img{
    height: 35px;
    margin-top: 20px;
    margin-left: 20px;

}


@keyframes slid{
  0%{
    transform: translateX(0);
  }
  45%{
    transform: translateX(0);
  }
  55%{
    transform: translateX(-1400px);
  }
  100%{
    transform: translateX(-1400px);
  }

 }

                  

 /* Section Seven End*/

 /* Section Eight Start */

 .sect8header{
    background-color: #F9F9FF;
    height: 50px;
    padding-top: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
 }

 .sect8header h1{
    text-align: center;
    font-size: 2.5rem;
    margin: auto;
    margin-bottom: 30px;
 }

 .sect8header p{
    text-align: center;
    width: 730px;
    margin: auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
 }

 .section8{
    width: 100%;
    align-items: center;
    justify-content: center;
 }

 .sect8all{
    display: flex;
    width: 1080px;
    gap: 30px;
 }
 
 .sect8img{
   width: 360px;
   height: 220px;
   overflow: hidden;
 }
 
 .sect8img img{
   height: 100%;
   transition: 0.5s;
 }
 
 .sect8div:hover img{
   transform: scale(1.2);
 }

 .sect8div h3{
    text-align: left;
    width: 360px;
    font-size: 1.07rem;
 }

 .sect8div p{
    text-align: left;
    width: 350px;
    color: rgba(0, 0, 0, 0.5);
 }


.sect8div{
    width: 360px;
}

.sect8div hr{
    opacity: 0.5;
}

.sect8div:hover h3{
    color: #8490FF;
}

.sect8div .img2{
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    transition: 0.5s;
}

.sect8div span{
    color:  rgba(0, 0, 0, 0.5); ;
}


.sect8div .flex{
    padding: 0;
    display: flex;

}


 /* Section Eight End */

 /* Section Nine Start*/


 .section9{
    width: 100%;
    height: 250px;
    background: linear-gradient( to right, #8393ff, rgb(102, 183, 252));
    justify-content: center;
    padding-bottom: 0;
 }

 .section9 .sect9allimg{
    width: 1150px;
    height: 100px;
    margin-top: 85px;
    margin: auto;
    display: flex; overflow: hidden;
 }

 .section9 .sect9allimg img{
    margin-left: 100px;
    animation: sect9slid 10s infinite;
 }
 
 
 @keyframes sect9slid{
    0%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-300px);
  }
  30%{
    transform: translateX(-300px);
  }
  40% {
  transform: translateX(-600px);
  }
  50% {
  transform: translateX(-600px);
  }
  60% {
  transform: translateX(-900px);
  }
  70% {
  transform: translateX(-900px);
  }
  80% {
    transform: translateX(-1200px);
  }
  90% {
  transform: translateX(-1200px);
  }
  100% {
  transform: translateX(-1400px);
  }
 }


 /* Section Nine End*/

 
 /* Footer Start*/

 footer{
    width: 100%;
    height: 400px;
    background: #04091E;
    color: white;
    padding-top: 0;
 }

 footer .footerall{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
 }

 footer .footeraboutme{
    margin-top: 100px;
 }

 footer .footeraboutme p, h3{
    text-align: left;
 }

 footer .footeraboutme p{
    width: 460px;
    text-align: left;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
 }

 footer .footeraboutme a{
    text-decoration: none;
    color: #8490FF;
 }

 footer .footerneews{
    margin-top: 100px;
 }

 footer .footerneews p{
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
 }
 

 footer .footerneews input{
    width: 400px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
    border: none;
 }

 footer .footerneews button{
    width: 50px;
    height: 43px;
    margin-left: -4px;
    outline: none;
    border: none;
    background: #8490FF;
    font-size: 20px;
    padding-bottom: 2px;
    cursor: pointer;
 }
 

footer .footerfollow{
    margin-top: 100px;
}

footer .footerfollow p{
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}

footer .footerfollow i{
    padding: 10px;
}

footer .footerfollow i:nth-child(3):hover{
    color: skyblue;
    transition: 0.5s;
    cursor: pointer;
}

footer .footerfollow i:nth-child(4):hover{
    color: red;
    transition: 0.5s;
    cursor: pointer;
}

footer .footerfollow i:nth-child(5):hover{
    color: skyblue;
    transition: 0.5s;
    cursor: pointer;
}

footer .footerfollow i:nth-child(6):hover{
    color: orange;
    transition: 0.5s;
    cursor: pointer;
}










 
 /* Footer End*/





 @media (max-width:1024px){
    header{
        width: 100%;
    }

    header .logo{
        margin-left: 30px;
        margin-top: -13px;
    }

    header .checkbtn{
        display: block;
        margin-top: -45px;
        margin-left: 350px;
    }

    header .nav ul{
        position: fixed;
        height: 100vh;
        background-color: #F9F9FF;
        top: 54px;
        left: -200px;
        transition: all 0.5s;
    }  
    
    header .nav ul li{
        line-height: 30px;
        text-align: left;
        margin-top: 15px;
        clear: both;
    }

    #check:checked ~ ul{
        left: 0;
        width: 100%;

    }



    .nav .hide{
        display: none;
    }

    header .nav li a{
        font-size: 20px;
    }


    

 }